.box {
	background: url(images/eat.png) no-repeat top;
	background-size: 100% 100%;
	width: 100%;
    height: 290px;
}
.box1 {
	background-color: #EBEDEF;

}

.box2 {
	background-color: #FAF2E1;
	/*margin: 30px;*/
}
.div {
	margin-top: 30px;
}
.div1 {
	background: url(images/吃图标.png) no-repeat;100
	background-size: 100% 100%;
	height: 120px;
	margin: 30px;

}
.div2 {
	/*border:1px solid pink;*/
	/*background: #FFFFFF;*/

	/*margin: 10px;*/
}

.div3 {
	width:150px;
	height: 190px;
	border: 1px solid pink;

	margin: 10px;
	text-align: center;
	font: normal 16px/42px "microsoft yahei";
	transition:all .5s;
	-webkit-transition:all .5s;
}
.div3:hover {
	 transform: translateY(-10px);
     box-shadow: 0px 0px 8px #FFF;
     border-radius: 20px;

}

.div_2 {
	background: url(images/水果图标.png) no-repeat;
	background-size: 100% 100%;
	height: 120px;
	margin: 30px;
	text-align:center;
	font-size: 50px;
	color:#9B2E31;
	padding:30px;
	
}
