	*{
		margin: 0px;
		padding: 0px;
		list-style: none;
	}

	.head{
		margin: 0 auto;
		width: 100%;
		height: 150px;
		background:url("images/建筑1.jpg"),url("images/meme.jpg"); 
		background-position:left top,right top;
		background-repeat: no-repeat,no-repeat;
        background-size:90% 100%,10% 100%;
		background-color: skyblue;
		text-align: center;
	}

	.box {
		/*background-color: pink;*/
	}

    .h3 {
    	margin: 20px;
    	margin-bottom: 100px;
    }
    .div_left {

    }
    .div_left:hover {
 	/*transform: translateY(-5px);
 	 box-shadow: 0px 0px 6px #000;*/
    }

     .dot {
 	padding: 2px 5px;
 	background: rgba(255， 255， 255， 0.3);
 	border-radius: 100px;
 	display: inline-block;
 	position: absolute;
 	bottom: 10px;
 	right: 2px;

 }
 .dot .dot-item {
 	width: 10px;
 	height: 10px;
 	border-radius:50%;
 	background: white;
 	display: inline-block;
 }
 .dot .dot-item.active {
 	background: #ff5000;
 }

 .div_right {
 	overflow: hidden;
 	 width: 200px;
 	 height: 150px;

 }
    .img {
    	/*display:inline-block;*/
    	width: 200px;
    	height: 150px;
		/*cursor: pointer;*/
    	transition: all 1s;
    	 /*width="180px" height="130px"*/
    }
   .img:hover {
   	transform: scale(1.4);
   }
    .right {
    	background-color: #F5F5F5;
    }

    .box1 {
    	margin: 50px;
    }

    .a1 {
		font-size: 20px; 
		color: #00a0e9; 
		line-height: 34px; 
		 }

	.box2 {
		text-align: center;
		padding: 0 auto;
		/*background-color: #F8F8F8;*/
	}
	.photo {
		/*display: inline;*/
		width: 200px;
		height: 230px;
		/*padding:30px;*/
		text-align: center;
		align-items: center;
		 transition: all .3s;
		 padding: 0 auto;
		 margin:0 auto;
	}
	.photo:hover {
		transform: translateY(-10px);
        box-shadow: 0px 0px 8px #FFF;
        border-radius: 5px;
	}
	span{
		    /*font-family: Microsoft Yahei;*/
		    
	}
	.title {
		display: inline;
		color: #00a0e9;
		font-size: 16px;
		font-weight: 700;
		
	}

	.box3 {
		margin-top: 50px;
		text-align: center;
		font-size: 2em;
	}

	.div_time {
		background: url('images/春节.jpg') no-repeat;
		background-size:100% 100%;
		border: 1px solid pink;
		margin: 0 auto;
		text-align: center;
		color:#FFFFFF;
	}
	#h2 {
		margin-top: 50px;
		text-shadow: 4px 4px 5px pink;
	}
	.overtime {
		
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 1.5em;

	}
	/*.overtime lable {
		


	}*/

	.ss {
			font-family:fantasy;
			
			font-size: 20px;
	}