* {
	padding:0 auto;
	margin: 0 auto;
}
.box {
	background: url(images/22玩图标.png) no-repeat top;
	background-size: 100% 100%;
	width: 100%;
    height: 290px;
}
.div-wrap {
	background-color: #DEF7F4;

}
.div1 {
	background-color:#FFF;
	padding-left: 50px;
	padding-right: 50px;
}
.box1 {
	width: 100%;
	height: 300px;
	background: url(images/223谢鲁山庄风景名胜区.jpg) no-repeat;
	background-size:100% 100%;
}

.box2 {

	margin-top: 50px;


}
.box2_1 {
	

}
#spa1 {
	text-align: center;
	background-color: #13BE62;
	font-size: 50px;
	color: #FFF;
	border-radius: 10px;
	margin-left:30px;
}
p {
	font-family: "Microsoft Yahei";
	margin-top: 20px;
	font-size: 17px;
	text-indent:30px;
	line-height:30px;
	letter-spacing: 5px;

}
#small {
	width: 378px;
	height: 378px;
	position: relative;
}
#big {
		display: none;
		width: 50px;
		height: 50px;
		/*display: inline-block;*/
		overflow: hidden;
		border-radius: 50%;
		position: absolute;
	}
.box3 {
	margin-top:50px; 
}
.box3 img {
	display: inline-block;
}
h3 {
	text-align: center;
}
h4 {
	font-size: 20px;

}
.box4 {
	margin-top: 30px;
}
.box4_2 {
	padding-top: 30px;
}
.box9 {
	padding-bottom: 50px;
}